<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inquirix</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="script.js" defer></script>
        <link href="CSS/NAVTHEMAN.css" rel="stylesheet">
    <script src="/JavaScript/chat.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="../CSS/feedChat.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="../../assets/inquerix1.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target ="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                </div>
            </div>
            <div class="dropdown">
                                <button id="myBtn" class="dropbtn"><img id="godhelpMe" src="assets/5b175ab3090385b31cc5f04ef08f0fc3.png"></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="/signup" onclick = "window.location = '/signup'">Sign Up</a>
                                    <a href="/homepage" onclick = "window.location = '/homepage'">Home Page</a>
                                    <a href="/feed" onclick = "window.location = '/feed'">Feed Page</a>
                                    <a href="">Message</a>
                                    <a href="/logout" onclick = "window.location = '/logout'">Log Out</a>
                                </div>
                            </div>
        </nav>
<!--End of Navigation.-->

    <!--- Connect -->
    <hr class="my-4">

<div class="container-fluid padding">
<h1 id = "handle"><%= userName %></h1>
<h2 id = "chatName">Chat</h2>
    <div id = "chatBox">
    <div id="output"></div>
    </div>
    <input id="message" type="text" placeholder="Message" />
    <button id="send">Send</button>
</body>
</html>