<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ana's Personal Website</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="NAVTHEMAN.css" rel="stylesheet">
    <script src="Nav.js"></script>
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                        <div class="dropdown">
                                <button id="myBtn" class="dropbtn"><img id="godhelpMe" src="Img/5b175ab3090385b31cc5f04ef08f0fc3.png"></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="#home">Sign Up</a>
                                    <a href="#about">Home Page</a>
                                    <a href="e#contact">Feed Page</a>
                                    <a href="#contact">Message</a>
                                    <a href="#contact">Log Out</a>
                                </div>
                            </div><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target ="#navbarResponsive">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                </div>
            </div>
        </nav>
        
<div class="dropdown">
    <button id="myBtn" class="dropbtn"></button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#home">Sign Up</a>
        <a href="#about">Home Page</a>
        <a href="#contact">Feed Page</a>
        <a href="#contact">Message</a>
        <a href="#contact">Log Out</a>
    </div>
</div>
                
</body>
</html>