<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
            <link href="CSS/NAVTHEMAN.css" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/UserSign.css">
        <script src="UserScript.js" defer></script>
        <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
        <title>Inquirix</title>
    </head>
    <body>
    <%= errorArr %>
            <nav class="navbar navbar-dark bg-dark sticky-top">
                    <div class="container-fluid">
            
                        <button class="navbar-toggler" data-toggle="collapse" data-target ="#All">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <button type="button" value="Sign In" onclick = "window.location = '/homepage'">
                            <span> Sign In </span>
                        </button>
    
                    </div>
                    <div class="dropdown">
                                <button id="myBtn" class="dropbtn"><img id="godhelpMe" src="assets/5b175ab3090385b31cc5f04ef08f0fc3.png" onclick = "window.location='/userProfile'"></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a  onclick = "window.location = '/signup'">Sign Up</a>
                                    <a  onclick = "window.location = '/homepage'">Home Page</a>
                                    <a  onclick = "window.location = '/feed'">Feed Page</a>
                                    <a >Message</a>
                                    <a  onclick = "window.location = '/logout'">Log Out</a>
                                </div>
                            </div>
                </nav>
                <!--- Cards -->
<div id="All">
<!-- <div class="container-fluid padding"> -->
        <div class="row padding">
        <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/Egg2.jpg">
            <div class="card-body">
                <h4 class="card-title">Jeremy Parson</h4>
                    <a href="https://www.linkedin.com/in/jeremy-parsonr-96a211168/" class="btn btn-secondary">See profile.</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/Egg.jpg">
                <div class="card-body">
                    <h4 class="card-title">Fayeem Majidul</h4>
                        <a href="https://www.linkedin.com/in/fayeem-majidul-762815166/" class="btn btn-secondary">See profile.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/Another Egg.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Kwaku Boafo</h4>
                            <a href="https://www.linkedin.com/in/kwaku-boafo-3aa226168/" class="btn btn-secondary">See profile.</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        <!--Card End-->
        <!--JumboTron at the End.-->
        <section class="company-heading intro-type" id="parallax-one">
                            <div class="container">
                              <div class="row product-title-info">
                                <div class="col-md-12">
                                  <h1>Join Inquirix, the new innovation of learning.</h1>
                                  <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
                                </div>
                              </div>
                            </div>
                            <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/anchor/company-hero2.jpg);"></div>
                          </section>
                          <div class="main">
                            <section id="section2">
                              <div class="container jumbo">
                                <div class="jumbotron">

                                        <h1>Sign Up</h1>
                                        <div class="inputz">
                                        <form action="submit" method="POST" >
                                            <label>Username</label><br>
                                            <input id="Potter" type = "text" name = "username">
                                            <br>
                                            <label>Name</label><br>
                                            <input id="Potter" type = "text" name = "name">
                                            <br>
                                            <label>Email</label><br>
                                            <input id="Potter" type = "text" name = "email">
                                            <br>
                                            <label>Password</label><br>
                                            <input  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*" id="Potter" type = "password" name = "password">
                                            <br>
                                            <label>Confirm Password</label><br>
                                            <input  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*" id="Potter" type = "password" name = "cpassword">
                                            <Hr>
                                            <input type = "submit" value = "Submit" name = "submit_button" id="Yurg">
                                        </div>
                                    
                                        </form>
                                </div>
                              </div>
                            </section>
                          </div>
        <!--End Of Jumbotron.-->
<!--- Footer -->
<footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Fayeem</h5>
                    <p>914-314-8219</p>
                    <p>Fayeemf@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Kwaku</h5>
                    <p>Email</p>
                    <p>Number</p>
                </div>
                <div class="col-md-4">
                        <hr class="light">
                        <h5>Jeremy</h5>
                        <p>Email</p>
                        <p>Number</p>
                    </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; Inquirix</h5>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>