<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="/JavaScript/UXD.js" defer></script>
    <link href="../CSS/UX.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
</head>
<body>
<!--- Cards -->
<nav class="navbar navbar-dark bg-dark sticky-top">
                        <div class="dropdown">
                                <button id="myBtn" class="dropbtn"><img id="godhelpMe" src="assets/5b175ab3090385b31cc5f04ef08f0fc3.png" onclick = "window.location='/userProfile'"></button>
                                <div id="myDropdown" class="dropdown-content">
                                    <a href="/signup" onclick = "window.location = '/signup'">Sign Up</a>
                                    <a href="/homepage" onclick = "window.location = '/homepage'">Home Page</a>
                                    <a href="/feed" onclick = "window.location = '/feed'">Feed Page</a>
                                    <a href="">Message</a>
                                    <a href="/logout" onclick = "window.location = '/logout'">Log Out</a>
                                </div>
                            </div>
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target ="#community">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline">
                        <label class="sr-only" for="inlineFormInputName2">Email</label>
                        <input type="text" class="form-control mb-0 mr-sm-3" id="inlineFormInputName2" placeholder="Enter Your Email.">
                        
                        <label class="sr-only" for="inlineFormInputGroupUsername2">Password</label>
                        <div class="input-group mb-0 mr-sm-2">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Password.">
                        </div>
                        <button type="submit" class="btn btn-primary mb-0">Submit</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
<div class="Everything">
<div id="All">
    <div class="container-fluid padding center-block">
        <div class="row padding">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/unnamed.png">
                    <div class="card-body">
                        <h4>Good Evening,</h4>
                        <h1 class="card-title"><%= userName %></h1>
                            <hr>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<!--JumboTron at the End.-->
    <div id="thats"> I'm a content marketing professional at HubSpot, an inbound marketing and sales platform that helps companies attract visitors. Inquirix has really changed my way of thinking.
    </div>
    <div id="TickleMySickleCell">
    </div>
<br>
<br>
<br>
<hr>
<div>
    <header>Progress</header>
    <br>
</div>
<!--Start Progress-->
<div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 12%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Math</div>
      </div>
      <br>
      <br>
      <br>
<div class="Sam">
            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Science</div>
          </div>
<br>
<br>
<br>
<div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">History</div>
      </div>
      <br>
<br>
<br>
<div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">English</div>
      </div>
<br>
<br>
<br>
<br>
<br>
<hr>
<!--Footer-->
<!--- Footer -->
<footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Fayeem</h5>
                    <p>914-314-8219</p>
                    <p>Fayeemf@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Kwaku</h5>
                    <p>boafo819@gmail.com</p>
                    <p>718-496-5487</p>
                </div>
                <div class="col-md-4">
                        <hr class="light">
                        <h5>Jeremy</h5>
                        <p>Jsbparson@gmail.com</p>
                        <p>201-519-7616</p>
                    </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; Inquirix</h5>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>





<!-- <style>
    div {
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin: 0;
    }
